@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Quicksand:wght@300..700&display=swap');

* {
  font-family: "Quicksand", sans-serif;
}


header {
  background: rgb(0, 0, 0);
  background: linear-gradient(90deg, rgba(0, 0, 0, 1) 48%, rgba(15, 208, 60, 0.7679446778711485) 100%);
  box-shadow: 0 10px 5px rgba(57, 141, 57, 0.87);
  padding: 10px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  justify-content: space-between;
  display: flex;
  align-items: center;
  height: 100px;
  padding: 5px 10%;
}

.logo {
  cursor: pointer;
  width: 160px;
  height: auto;
}

nav ul {
  display: inline-block;
  list-style: none;
}

nav li {
  display: inline-block;
  padding: 40px;
  font-size: 16px;
}

nav a {
  color: #ffffff;
  text-decoration: none;
}

nav a:hover {
  color: #000000;
}

main {
  margin-top: 107px;
  text-align: center;
}

#banner {
  background-image: url(./img/persona.png);
  background-size: cover;
  background-position: center;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#banner h2 {
  font-size: 48px;
  margin-bottom: 20px;
  color: #fffdfd;
}

#banner p {
  font-size: 24px;
  margin-bottom: 40px;
  color: whitesmoke;
}

.button {
  display: inline-block;
  background-color: #000000;
  color: #ffffff;
  border: 2px solid #000000;
  padding: 10px 20px;
  font: 20px;
  text-decoration: none;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.button:hover {
  background-color: #22be46ab;
  color: #000000;
}

form {
  display: flex;
  flex-direction: column;
  width: 500px;
  margin: 0 auto;
  padding-bottom: 10vh;
}

*/ header {
  display: flex;
  justify-content: space-around;
  padding: 10px;
  background-color: #f8f8f8;
}

.ime {
  width: 80px;
  height: 80px;
}

img {
  width: 300px;
  height: 400px;
}

#products {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 50px;
}

.product {
  border: 1px solid #ccc;
  padding: 10px;
  width: 400px;
  border-radius: 5px;
}

#cart {
  margin-top: 20px;
  padding: 10px;
  border: 1px solid #ccc;
}

#cart-items {
  margin-bottom: 10px;
}

.carrito-flotante {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #4CAF50;
  color: white;
  border-radius: 50%;
  padding: 15px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}

.fas {
  font-size: 24px;
}

.cantidad {
  position: absolute;
  top: -5px;
  right: -5px;
  background-color: red;
  color: white;
  border-radius: 50%;
  padding: 5px;
  font-size: 12px;
}

button {
  padding: 10px 15px;
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

button:hover {
  background-color: #218838;
  transform: scale(1.1);
}

label {
  font-size: 18px;
  margin-bottom: 10px;
}

input,
textarea {
  padding: 10px;
  font-size: 16px;
  margin-bottom: 20px;
  border: 2px solid #ccc;
  border-radius: 4px;
}

button[type="submit"] {
  background-color: #333;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 18px;
  text-align: center;
  text-decoration: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}

button[type="submit"]:hover {
  background-color: #0f0f0f;
  color: #ffffff;
}

footer {
  background: rgb(0, 0, 0);
  background: linear-gradient(270deg, rgba(0, 0, 0, 1) 48%, rgba(15, 208, 60, 0.8463760504201681) 100%);
  background-color: var(--primary-color);
  box-shadow: 0 10px 5px rgba(242, 243, 242, 0.514);
  align-items: center;
}

.icon {
  font-size: 26px;
  color: white;
}

.icon:hover {
  color: white;
}

.logo {
  cursor: pointer;
  height: 90px;
  width: 100px;
}